---
import ShopLayout from "../../layouts/ShopLayout.astro";
import { GivePreset, MaterialType, Preset, PresetType } from "../../types";
---

<ShopLayout title="Hi!" lang="en-us">
  <h1>Hi!</h1>
</ShopLayout>
