---
// ¡Bienvenido a Astro! Todo entre los guiones triples son los
// "metadatos de su componente". Nunca se ejecuta en el navegador.
console.log('¡Esto se ejecuta en tu terminal y no en el navegador!');
---
<html>
  <body>
    <h1>¡Hola Mundo!</h1>
  </body>
</html>
<style>
  h1 {
    color: orange;
  }
</style>